[submodule "devel/emacs/site-lisp/nameses"]
	path = devel/emacs/site-lisp/nameses
	url = https://gist.github.com/jannisteunissen/8960595
[submodule "devel/emacs/site-lisp/undo-tree"]
	path = devel/emacs/site-lisp/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "devel/emacs/site-lisp/iedit"]
	path = devel/emacs/site-lisp/iedit
	url = https://github.com/victorhge/iedit
[submodule "devel/emacs/site-lisp/emacs-racer"]
	path = devel/emacs/site-lisp/emacs-racer
	url = https://github.com/racer-rust/emacs-racer
[submodule "devel/emacs/site-lisp/hideshowvis"]
	path = devel/emacs/site-lisp/hideshowvis
	url = https://github.com/emacsmirror/hideshowvis
[submodule "devel/emacs/site-lisp/company-ghc"]
	path = devel/emacs/site-lisp/company-ghc
	url = https://github.com/iquiw/company-ghc
